.productTile {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .backBtn {
        background: transparent;
        outline: none;
        border: none;
        display: flex;
        color: white;
        cursor: pointer;
    }
}
